.toolbar {
  padding: 16px 16px 0;
  display: flex;
}

.icon {
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.icon.active {
  border: 1px solid #000;
}

.colorInput {
  margin-left: 8px;
  width: 44px;
  height: 44px;
}
